version: '3.9'

services:
  mariadb:
    build: ./srcs/requirements/mariadb
    container_name: mariadb
    env_file:
      - .env
    volumes:
      - db:/var/lib/mysql
    networks:
      - inception
  
volumes:
  db:

networks:
  inception: